:root{
    /* creando variables para usarlas en todo
    el documento*/
    --primary: #e94a3e;
    --light: #eee;
    --gray: #666;
    --gray-light: #999;
    
}
* {
    margin: 0;
    box-sizing: none;
    padding: 0;
}
body {
    font-family: ;
}

.card {
    width: 350px;
    background-color: white;
    
}
.card:hover .card__description {
    display: block;
}
.card:hover .card__header{
    
    height: 200px;
}
.card:hover .card__img{
    filter: brightness(0.7);
    transform: scale(1.1 , 1.1);
}


.card__header {
    position: relative;
    height: 300px;
    overflow: hidden;
    
}
.card__img {
    width: 100%;
    transition: all 0.5s ease;
}

.card__photos {
    padding: 6px 10px;
    background-color: var(--primary);
    color: var(--light);
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bold;
}
.card__date {
    background-color: var(--primary);
    color: var(--light);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
    padding-top: 5px;
    font-weight: bold;
}
.card__body {
    padding: 20px;
}
.card__title {
    margin-bottom: 15px;
}
.card__Subtitle {
    color: var(--primary);
    margin-bottom: 15px;
}
.card__description {
    font-size: 13px;
    line-height: 22px;
    color: var(--gray);
    display: none;
}
.card__footer {
    padding: 10px 20px;

}
.card__feed {
    list-style: none;
}
.card__item {
    display: inline-block;
    font-size: 13px;
    color: var(--gray-light);
    margin-right: 15px;
}